.nav{
    width: 10rem;
    background-color: #141414;
    height: 100vh;
    position:fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: grid;
    grid-template-rows: 2fr 8fr;
    z-index: 3;
    justify-content:center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav_logo {
    display: flex;
    height: 100%;
    width: fit-content;
    margin-top: 10px;
}
.logo {
    width: 5rem;
    margin-left: 10px;
    
}
.nav_menu {
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-evenly;
    width: fit-content;
}

.section_menu  li{
    margin-bottom: 2rem;
}

.section_menu  > li::after {
    right:0;
    top: 1;
    width: 9rem;
    content: "";
    position: absolute;
    height: 1.5px;
    transition: 0.4s ease;
    transform: scale(0, 1);
    transform-origin: 0 100%;
    background-color:#D8E9A8;
  }
li:hover::after {
    transform: scale(1,1);
}
.icon {
 margin-right: 1rem;
}

.socials_menu> li {
    margin: 10px;
}
/* .nav_socials ::after {
    content: "";
    width: 1rem;
    background-color: #D8E9A8;
    height: 2rem;
} */

@media screen and (max-width: 480px) {
    
    }


@media screen and (max-width: 915px) {
    .nav{
        width: 100%;
        background-color: #141414;
        height: 5rem;
        position:fixed;
        lefT: 0;
        top: 0;
        right: 0;
        bottom: auto;
        display: flex;
        z-index: 3;
        justify-content:space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .logo {
        width: 5rem;
        margin-left: 10px;
    }
    
    .nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: min(75vw, 300px);
    height: 100vh;
    outline: 0px;
    background: hsl(0, 0%, 8%  /1);
    /* background: hsl(0, 0%, 8%); */
    backdrop-filter: blur(.7rem);
    box-shadow: -10px 0px 30px -15px gray;
    transform: translateX(100%);
    transition: all .45s;
    } 
/*     .nav > .nav_menu {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: #3b4da7;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: all .45s;
      } */
    .nav>.nav_menu >ul::before{
        background: transparent;
    }
  
    .nav>.nav_menu.open {
        transform: translateX(0);
    }
    .nav >.nav-toggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
      }
    
      .nav-toggle > .bar {
        position: relative;
        width: 20px;
        height: 2px;
        background: #ffffff;
        transition: all 0.45s ease-in-out;
      }
    
      .nav-toggle > .bar::before,
      .nav-toggle > .bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
      }
    
      .nav-toggle > .bar::before {
        width: 30px;
        transform: translateY(-8px);
        right: 0;
      }
    
      .nav-toggle > .bar::after {
        width: 10px;
        transform: translateY(8px);
      }
    
      .nav-toggle.open > .bar {
          transform: translateX(-40px);
          background: transparent;
      }
    
      .nav-toggle.open > .bar::before {
          width: 32px;
          transform: rotate(45deg) translate(35px, -35px);
      }
    
      .nav-toggle.open > .bar::after {
        width: 32px;
        transform: rotate(-45deg) translate(20px, 20px);
      }


}
@media screen and (max-width: 1080px) {
    
}
